body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar-custom {
    background-color: #0d0d24;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #f5b506;
}

.navbar-custom .nav-link:hover {
    color: #0539e4;
}

.header {
    background-color: #b99908;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 3em;
}

.intro {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}

.intro h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2em;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}

.mission {
    padding: 50px 20px;
    background-color: #eaeaea;
}

.mission h3 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 20px;
}

.mission p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.team {
    padding: 50px 20px;
}

.team h3 {
    text-align: center;
    margin-bottom: 40px;
}

.team .team-member {
    text-align: center;
    margin-bottom: 30px;
}

.team .team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.team .team-member h4 {
    margin-top: 10px;
}

.footer {
    background-color: #0d0d24;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
