body {
    background-color: #222025;
    color: #f5b506;
    font-family: Arial, sans-serif;
  }
  
  .navbar-custom {
    background-color: #0d0d24;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: #f5b506;
  }
  
  .navbar-custom .nav-link:hover {
    color: #0539e4;
  }
  
  .hero-section {
    background-image: url('https://via.placeholder.com/1600x500');
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .my-5 h2 {
    color: #d80a0a;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 100px;
  }
  
  .my-5 h3 {
    color: #ffa600;
    text-align: left;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 30px;
  }
  
  .gallery1 {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .gallery1 img {
    max-width: 20%;
    height: fit-content;
    border-radius: 40px;
    margin-bottom: 60;
  }
  
  .gallery1 h4 {
    color: #da0c0c;
    margin-top: 10px;
    border-color: #f5b506;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .gallery1 h3 {
    color: #fda707;
    text-align: left;
    margin-top: 90px;
  }
  
  .my-6 h2 {
    color: #fdad00;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 50px;
  }
  
  .my-6 h2 {
    color: #eb8500;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  
  .my-6 h3 {
    font-size: 30px;
    color: #ffbb00;
    text-align: center;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 5px;
  }
  
  .gallery2 h4 {
    color: #df0909;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 80px;
    font-style: unset;
  }
  
  .gallery2 {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .gallery2 img {
    max-width: 20%;
    border-radius: 40px;
    margin-bottom: 80px;
    margin-top: 1px;
  }
  
  .hero-section h1 {
    font-size: 4rem;
  }
  
  .gallery3 {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .gallery3 img {
    max-width: 50%;
    border-radius: 40px;
    margin-bottom: 80px;
    margin-top: 1px;
  }
  
  footer {
    background-color: #0d0d24;
    color: #fff;
    text-align: center;
    padding: 60px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
  }
  