{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" class="form-login" style="color:rgb(255, 187, 0)">
        {{ form.hidden_tag() }}  <!-- For CSRF protection -->
        <!-- image here-->
        <h1 class="h3 mb-3 font-weight-normal">
            Please Login Here
        </h1>

        <!-- Username Field -->
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", placeholder="Username") }}
            {% for error in form.username.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Password Field -->
        <div class="form-group">
            {{ form.password.label(class="form-label") }}  <!-- Changed password1 to password -->
            {{ form.password(class="form-control", placeholder="Password") }}  <!-- Changed password1 to password -->
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="checkbox mb-3">
            <h6>Do not have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
        </div>
         <!-- Submit Button -->
         <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>

    </form>
</div>
    
{% endblock %}
