<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="container">

        <form method="POST" class="form-register" action="/register/">

            {% csrf_token %}
            
            <!-- Placeholder for an image -->
            <img src="https://via.placeholder.com/150x50" alt="Register Logo" style="display: block; margin: 0 auto;">

            {% if error %}
                <div class="error">
                    {{ error }}
                </div>
            {% endif %}

            <h1 class="h3 nb-3 font-weight-normal">
                Please Create Your Account
            </h1>

            <!-- Username Field -->
            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input required type="text" id="username" name="username" class="form-control" placeholder="Username">
                <span class="text-danger"> <!-- Example error message --> </span>
            </div>

            <!-- Email Address Field -->
            <div class="form-group">
                <label for="email_address" class="form-label">Email Address</label>
                <input required type="email" id="email_address" name="email" class="form-control" placeholder="Email Address">
                <span class="text-danger"> <!-- Example error message --> </span>
            </div>

            <!-- Password Field -->
            <div class="form-group">
                <label for="password1" class="form-label">Password</label>
                <input required type="password" id="password1" name="password1" class="form-control" placeholder="Password">
                <span class="text-danger"> <!-- Example error message --> </span>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group">
                <label for="password2" class="form-label">Confirm Password</label>
                <input required type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password">
                <span class="text-danger"> <!-- Example error message --> </span>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="/login">Sign in</a>
            </div>
        </form>
    </div>
</body>
</html>
